<div class="title">
  <h2 class="title__text">
    Would you like to get {{ newJokesAmount }} fresh jokes every 5 seconds?
  </h2>
  <p-inputSwitch [formControl]="startIntervalControl"></p-inputSwitch>
</div>

<ng-container *ngIf="jokesStream$ | async">
  <p-table *ngIf="jokes$ | async as jokes" [value]="jokes">
    <ng-template pTemplate="header">
      <tr>
        <th>Jokes</th>
        <th>Action</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-joke>
      <tr>
        <td>{{ joke.value }}</td>
        <td>
          <p-button
            (click)="addToFavorite(joke)"
            label="Add to favorite"
            styleClass="p-button-outlined"
          ></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</ng-container>

<p-toast></p-toast>
